extends layout/layout.pug

block content

    // begin firstScreen
    section#firstScreen.firstScreen.section
        .container_center
            h2.section__title
                span Строительство <b>индивидуальных жилых домов</b> "под ключ в Бресте и области"
            .firstScreen__desc
                span От разбивки участка под заливку фундамента до ввода объекта в эксплуатацию

            .firstScreen__bullets
                .bullets
                    .bullets__item
                        .bullets__icon
                            i.icon-price
                        .bullets__content
                            span <b>Фиксируем цену в договоре</b> и разбиваем строительство на этапы

                    .bullets__item
                        .bullets__icon
                            i.icon-tool
                        .bullets__content
                            span <b>Закупаем материалы сами</b> или работаем с материалами заказчика


                    .bullets__item
                        .bullets__icon
                            i.icon-advise
                        .bullets__content
                            span <b>Советуем и подсказываем</b> как лучше

            .firstScreen__action
                .firstScreen__btn
                    a(href="#").btn.btn_lg.requisition_js
                        span Оставить заявку на расчет стоимости
                .firstScreen__info
                    span <b>Перезвоним и проконсультируем</b> через 5 минут
    // end firstScreen

    // begin services
    section#services.services.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span Оказываем <b>полный спектр услуг</b> в строительстве
            .slider-info.mobile
                span Передвигайте разделы влево/вправо
                .slider-info-img
                    img(src="../img/hand.svg")
            .services__arrow
            .slider.js-slider
                each item in [ {title: 'Кровельные работы<br>любой сложности', bg: '1', decs: 'Подшива свесов кровли, водосточная система'}, {title: 'Внутренние и наружные<br>отделочные работы', bg: '2', decs: 'Утепление фасадов, стяжка клеем, покраска, штукатурка песчаная, гипсовая'}, {title: 'Устройство<br>коммуникаций', bg: '3', decs: 'водоснабжение, отопление, канализация, освещение'}, {title: 'Стяжка пола<br>чистовая', bg: '4', decs: 'Подшива свесов кровли, водосточная система'}, {title: 'Устройство местной<br>канализации', bg: '5', decs: 'Без откачки до 15 лет'}, {title: 'Благоустройство<br>территории', bg: '6', decs: 'Проектирование, ландшафтный дизайн, посадка растений, системы полива, укладка тротуарной плитки'}, {title: 'Монтаж заборов,<br>калиток, ворот', bg: '7', decs: 'Откатные, распашные'}, {title: 'Сдача в аренду<br>строительной техники', bg: '8', decs: 'Перечисление техники, списком через запятую'}, ]
                    .slider__item
                        .services__item(style="background-image: url('../img/services_"+item.bg+".webp')")
                            .services__content
                                .services__top
                                    .services__title
                                        span!=item.title
                                .services__bottom
                                    .services__desc
                                        span=item.decs
                                    .services__action
                                        a(href="#").btn.requisition_js Оставить заявку
                                        a.services__link(href="#").download_price_js Скачать прайс

    // end services 

    // begin priceList
    section#priceList.priceList.section
        .priceList__fon
        .container_center
            .priceList__content
                h2.priceList__title(data-aos="fade-up")
                    span <b>Скачайте<br> прайс-лист</b> на все услуги в 1 клик
                .priceList__desc
                    span Выберите куда вам удобнее отправить прайс?
                .priceList__form
                    form.form.form_grid(action="send.php")
                        //- из какой формы на сайте
                        input(type="hidden" name="subject" value="Скачать прайс лист")
                        //- проверка спама
                        input(type="hidden" name="notspam" value="")

                        .form__row
                            select.select(data-placeholder="Получить в Viber" name="selectPrice")
                                option(value="")
                                option(value="Viber") Получить в Viber
                                option(value="Telegram") Получить в Telegram
                                option(value="whatsapp") Получить в Whatsapp

                        .form__row
                            input(type="tel" id="tel" name="tel" required placeholder="Ваш номер телефона")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit")
                                span Получить прайс сейчас

                        .form__row.form__row_full
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank" class="privacy_js">Политики конфиденциальности</a>

                .priceList__pdf(data-aos="zoom-in" data-aos-delay="500")
                    .pdf
                        img(src="../img/pdf.svg")

        .priceList__compass.desktop(data-aos="fade-right" data-aos-delay="1000")

    // end priceList

    // begin house
    section#house.house.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span <b>Построили</b> 31 дом под ключ в Бресте
            .house__desc(data-aos="fade-up")
                span От разбивки участка до новоселья
            .house__content
                each item in [1,2,3,4,5,6,7,8,9,10,11,12]

                    .house__item.itemForDataFancybox_js
                        .house__gallery
                            .gallery
                                each item in [1,2,3,4,1]
                                    .gallery__item
                                        a(href="../img/house_"+item+".webp" data-fancybox data-type="image")
                                            img(src="../img/house_"+item+".webp")
                        .house__title
                            span Название работы
                        .house__subtitle
                            span Описание работы - цена - сроки - место выполнения (проведения) можно добавить еще и отзыв клиенты или видеообзор сюда же

            .house__action
                a(href="#").show_more_js Показать еще работы

        .house__greens.desktop


    // end house

    // begin orders
    section#orders.orders.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span Релизовали <b>более 150 заказов</b> на разные строительные услуги

            .slider-info.mobile
                span Передвигайте разделы влево/вправо
                .slider-info-img
                    img(src="../img/hand.svg")

            .orders__arrow
            .slider.js-slider-orders
                each item in [ {title: 'Заливка фундамента', img: '1', location: 'Брест, ул. Калиновая 64'}, {title: 'Устройство кровли', img: '2', location: 'Брест, ул. Вересковая 76'}, {title: 'Возведение коробки дома', img: '3', location: 'Брест, ул. Зеленая 34'}, {title: 'Заливка фундамента', img: '1', location: 'Брест, ул. Калиновая 64'},]

                    .slider__item
                        .orders__grid.itemForDataFancybox_js
                            .orders__item
                                a.orders__link(href="../img/orders_"+item.img+".webp" data-fancybox data-type="image")
                                    img(src="../img/orders_"+item.img+".webp")
                                    .orders__content
                                        .orders__title
                                            span=item.title
                                        .orders__location
                                            span=item.location

                            each item in [1,2,3,1]
                                .orders__item
                                    a(href="../img/orders_"+item+".webp" data-fancybox data-type="image")
                                        img(src="../img/orders_"+item+".webp")

        .orders__bg

    // end orders

    // begin advantage
    section#advantage.advantage.section
        .container_center
            .advantage__content
                .advantage__left
                    h2.section__title(data-aos="fade-up")
                        span Вы <b>можете нам<br> довериться</b> и быть спокойны за качество и сроки

                    .advantage__list
                        .advantage__item
                            .advantage__img
                                img(src="../img/advantage_1.webp").desktop
                                img(src="../img/advantage_mob_1.webp").mobile
                            .advantage__text
                                span <b>Экономим ваш бюджет.</b> Покупаем материалы по лучшим ценам у проверенных поставщиков
                        .advantage__item
                            .advantage__img
                                img(src="../img/advantage_2.webp").desktop
                                img(src="../img/advantage_mob_2.webp").mobile
                            .advantage__text
                                span <b>Составляем смету и фиксируем</b> финальную стоимость
                        .advantage__item
                            .advantage__img
                                img(src="../img/advantage_3.webp").desktop
                                img(src="../img/advantage_mob_3.webp").mobile
                            .advantage__text
                                span <b>Не дергаем вас по пустякам.</b> Сами закупаем, доставляем, разгружаем
                        .advantage__item
                            .advantage__img
                                img(src="../img/advantage_4.webp").desktop
                                img(src="../img/advantage_mob_4.webp").mobile
                            .advantage__text
                                span <b>Собственная спец техника.</b> Вам не нужно беспокоиться - все берем на себя
                        .advantage__item
                            .advantage__img
                                img(src="../img/advantage_5.webp").desktop
                                img(src="../img/advantage_mob_5.webp").mobile
                            .advantage__text
                                span <b>Используем ваш материал при желании/наличии</b> или можем закупать сами
                        .advantage__item
                            .advantage__img
                                img(src="../img/advantage_6.webp").desktop
                                img(src="../img/advantage_mob_6.webp").mobile
                            .advantage__text
                                span <b>Наличный или безналичный расчет.</b> Поэтапная оплата.
                .advantage__right
                    .advantage__subtitle
                        span Гарантии по договору.<br> Вы защищены юридически
                    .advantage__info
                        span Заключаем договор на выполнение строительных работ с заказчиком, оказываем строительные услуги для юридических лиц
                    .advantage__contrac
                        img(src="../img/contrac.webp")
                    .advantage__brend(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500")
                        img(src="../img/brend.webp")

    // end advantage

    // begin about
    section#about.about.section
        .container_center
            .about__wrap
                h2.section__title(data-aos="fade-up")
                    span <b>О компании</b> Артадитакс
                .about__content
                    .about__title
                        span “Если вы знаете, как должен выглядеть ваш дом, мы точно знаем, как его построить!”
                    .about__text
                        span Наши архитекторы воплотят в жизнь любые ваши идеи по проектированию дома и обустройству участка. Мы создадим для вас настоящий дом для жизни. Наши архитекторы воплотят в жизнь любые ваши идеи по проектированию дома и обустройству участка. Мы создадим для вас настоящий дом для жизни.
                    .about__list
                        each item in [ { label: '10', info: '<b>на рынке</b> строительства индивидуальных домов и строений' }, { label: '8', info: '<b>ключевых лиц</b> в компании' }, { label: '180', info: '<b>успешно сданных обеъектов</b> за все время работы' }, ]

                            .about__item
                                .about__label
                                    span.animate_numbers_js!=item.label
                                .about__info
                                    span!=item.info

    // end about

    // begin steps
    section#steps.steps.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span Как <b>начать работу</b> с нами

            .slider-info.mobile
                span Передвигайте разделы влево/вправо
                .slider-info-img
                    img(src="../img/hand.svg")

            .slider.js-slider-steps
                .slider__item
                    .steps__item.steps__item_white
                        .steps__number
                            span Шаг 1
                        .steps__phone
                            span Звоните:
                            a(href="tel:+375298075009") +375 (29) 807-50-09 
                            a(href="tel:+375298071188") +375 (29) 807-11-88 
                        .steps__content
                            span Познакомимся, проконсультируем и согласуем встречу на объекте или у нас в офисе
                        .steps__title
                            span Или оставляйте<br> заявку на сайте
                        .steps__action
                            a(href="#").btn.btn_reverse.requisition_js Оставить заявку


                each item in [ { number : 'Шаг 2', title: 'Обсудим вашу задачу. Наметим план. Составим смету. Заключим договор', content: 'Выедем на объект для полного замера и составления точной сметы'}, { number : 'Шаг 3', title: 'Приступаем<br> к строительству', content: 'По очередности работ начинаем строительные работы на вашем объекте'} ]
                    .slider__item
                        .steps__item
                            .steps__number
                                span=item.number
                            .steps__title
                                span!=item.title
                            .steps__content
                                span=item.content

        .steps__helmet.desktop(data-aos="fade-left"  data-aos-duration="1000" data-aos-delay="500")

        .steps__bg

    // end steps

    // begin contacts
    section#contacts.contacts.section
        .container_center
            .contacts__wrap
                // start col            
                .contacts__col
                    h2.contacts__title(data-aos="fade-up")
                        span Наши <b>контакты</b>
                    .contacts__list
                        .contacts__item
                            i.icon-map
                            .contacts__content
                                span г. Брест, ул.Карьерная, 10 А (р-н строительного рынка)
                        .contacts__item
                            i.icon-time
                            .contacts__content
                                span Пн-Пт: 9:00 - 18:00<br> Сб-Вс - выходные
                        .contacts__item
                            i.icon-phone
                            .contacts__content
                                a.link_phone(href="tel:+375298075009") +375 (29) 807-50-09 
                                a.link_phone(href="tel:+375298071188") +375 (29) 807-11-88 
                        .contacts__item
                            i.icon-mail
                            .contacts__content
                                a(href="mailto:info@siteytyr.ru") info@siteytyr.ru

                    .contacts__messeger
                        .messenger
                            .messenger__label
                                span Пишите, <b>мы онлайн</b>
                            .messenger__list
                                .messenger__item
                                    a(href="viber://chat?number=%2B375298075009" target="_blank").messenger__link
                                        i.icon-viber
                                .messenger__item
                                    a(href="https://wa.me/+375298075009" target="_blank").messenger__link
                                        i.icon-whatsapp
                                .messenger__item
                                    a(href="https://telegram.im/plahotin_s" target="_blank").messenger__link
                                        i.icon-telegram
                    .contacts__messeger
                        .messenger
                            .messenger__label
                                span <b>Мы в соцсетях</b>
                            .messenger__list
                                .messenger__item
                                    a(href="#" target="_blank").messenger__link
                                        i.icon-facebook
                                .messenger__item
                                    a(href="#" target="_blank").messenger__link
                                        i.icon-instagram
                                .messenger__item
                                    a(href="#" target="_blank").messenger__link
                                        i.icon-vk

                    .contacts__requisites
                        a(href="#") Рекизиты дл юр лиц
                // end col

                // start col
                .contacts__col
                    .contacts__images
                        .images
                            .images__label 
                                span До встречи в офисе 
                            .images__grid.itemForDataFancybox_js
                                each item in [1,2,3]
                                    .images__item
                                        a(href="../img/contacts_1_"+item+".webp" data-fancybox data-type="image")
                                            img(src="../img/contacts_1_"+item+".webp")
                        .images
                            .images__label 
                                span До встречи у вас на замере
                            .images__grid.itemForDataFancybox_js
                                each item in [1,2,3]
                                    .images__item
                                        a(href="../img/contacts_2_"+item+".webp" data-fancybox data-type="image")
                                            img(src="../img/contacts_2_"+item+".webp")

                // end col
                // start col

                .contacts__col
                    .contacts__map
                        .map
                            .map__content
                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4d25ec6ca125b6f37eec4bfc87ec71abfaa16ba7d8cddf29e58b86179fe6beef&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>



                // end col



    // end contacts

    // begin sidebar
    #sidebar.sidebar.desktop
        .sidebar__toggle
            i.icon-close
        .sidebar__list
            a(href="#").sidebar__item.requisition_js
                .sidebar__content
                    .sidebar__icon
                        i.icon-head
                    .sidebar__text
                        span Оставить заявку

            a(href="#").sidebar__item.download_price_js
                .sidebar__content
                    .sidebar__icon
                        i.icon-price_2
                    .sidebar__text
                        span Скачать прайс

            a(href="viber://chat?number=%2B375298075009" target="_blank").sidebar__item
                .sidebar__content
                    .sidebar__icon
                        i.icon-viber
                    .sidebar__text
                        span Написать в Viber

    // end sidebar
